[Desktop Entry]
Encoding=UTF-8
Name=BitcoinLite
Comment=BitcoinLite P2P Cryptocurrency
Comment[fr]=BitcoinLite, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BitcoinLite, eşten eşe kriptografik sanal para birimi
Exec=bitcoinlite-qt %u
Terminal=false
Type=Application
Icon=bitcoinlite128
MimeType=x-scheme-handler/bitcoinlite;
Categories=Office;Finance;
